body {
  text-align: center;
}
nav {
  margin: 20px;
}
.links {
  margin: 10px;
  padding: 15px;
  border-radius: 16px;
  background-color: greenyellow;
  color: black;
  text-decoration: none;
  border: solid 2px black;
}
.links span {
  vertical-align: middle;
}

.paragraphs {
  display: inline-block;
  max-width: 1000px;
}
.paragraphs img {
  width: 800px;
}
.buttons {
  background-color: rgba(12, 255, 214, 0.563);
  border-radius: 16px;
  padding: 10px 20px;
  margin: 4px;
  cursor: pointer;
  border: solid 2px black;
  text-align: center;
}
